.project-container {
	margin: 0 10vw;
	padding: 2rem 5rem;
	font-size: 1.5rem;
	line-height: 2;
	background-color: #fff;
}

.project-container h1 {
	line-height: 1.4;
	font-size: 4rem;
	font-weight: 800;
	margin: 1rem 0;
	border-bottom: 0.1rem solid black;
}
.project-container h2 {
	line-height: 1.6;
	font-size: 3rem;
	font-weight: 600;
	margin: 2.4rem 0 0;
}
.project-container h3 {
	font-size: 2.6rem;
	font-weight: 600;
	margin: 0.6rem 0.2rem;
}
.project-container h4 {
	font-size: 2.4rem;
	font-weight: 600;
	margin: 0.4rem 0.2rem;
}
.project-container li {
	padding: 0 1rem;
	list-style-type: disc;
}
.project-container p {
}
.project-container a:hover {
	cursor: pointer;
	text-decoration: underline;
}
