.container {
	margin: 0 auto;
	width: 20rem;
	height: 28rem;
	perspective: 100rem;

	/* z-index: 999; */
}
.card-wrapper {
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: rgb(166, 177, 152);
	border-radius: 1rem;
}
.card-wrapper:hover {
	transform: rotateY(180deg);
}
.flip-card {
	--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	overflow: hidden;
}
.flip-card.front label {
	font-size: 1.3rem;
}
.front-image {
	object-position: center;
	object-fit: contain;
}
.front-icon {
	object-position: center;
	object-fit: contain;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.6rem;
}
.flip-card.back {
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
}

.flip-card.back h5 {
	font-weight: 800;
	border-bottom: 0.1rem solid;
	width: 100%;
	/* margin-bottom: ; */
}
.flip-card.back .content {
	margin-top: 1rem;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: center;
	gap: 1rem;
	text-align: center;
}
